<html>
	<head>
		 <meta charset="utf-8">
		 <title>Kodi</title>
	</head>
	<body>
		<h2>Formulario para enviar la ultima pelicula de kodi</h2>
		<form action="/enviar" method="post">
			Servidor kodi<input type="text" name="servidor"></br>
			Usuario<input type="text" name="usuario"></br>
			Contraseña<input type="password" name="contrasena"></br>
			Id blog<input type="text" name="id_blog" ></br>
			<input type="submit" name="enviar" value="enviar" class="botton"></br>
		</form>
	</body>
</html>